/*

KOP PMI
dari Kanan ke Kiri (5 Komponen Warna)
#000000; // Putih
#f8d2d3; // Merah Muda
#f48c94; // Merah Muda Tua
#ec444c; // Merah
#da0501; // Merah Tua

FFA55D; // Orange Muda
#912200; // Merah Tua
#FFC1DA; // Merah Muda
#FF90BB; // Merah Muda Tua
#F8F8E1; // Kuning Muda
*/

/* Status bagi yang Tidak Sesuai */
 .blink-blink-mas-theo a {
    color: rgb(0, 149, 208);
}

.blink-blink-mas-theo.blinking a {
    color: #ffffff !important;
}

@keyframes smoothBlink {
    0% {
        background-color: inherit;
        color: #000000;
    }

    50% {
        /*background-color: #FF90BB;*/
        background-color: #912200;
        color: #ffffff;
    }

    100% {
        background-color: inherit;
        color: #000000;
    }
}

@keyframes warnaBlinkMerah {
    0% {
        color: red;
    }

    50% {
        color: white;
    }

    100% {
        color: red;
    }
}

.blink-blink-mas-theo {
    animation: smoothBlink 2.5s ease-in-out infinite;
}

.blink-blink-mas-theo input,
.blink-blink-mas-theo button {
    color: #ffffff !important;
    border-color: #ffffff !important;
} 

.warna-hasil {
    color: red;
    /* transition: color 0.5s ease; */
}

.blink-blink-mas-theo .warna-hasil {
    animation: warnaBlinkMerah 2.5s ease-in-out infinite;
}

.blink-blink-mas-theo.blinking .warna-hasil {
    color: white !important;
}

/* tidak sesuai */

/* warning untuk Status Darah Keluar */

 @keyframes statusKeluar {
    0% {
        background-color: inherit;
        color: #000000;
    }

    50% {
        background-color: #ffc090;
        color: #ffffff;
    }

    100% {
        background-color: inherit;
        color: #000000;
    }
}

.status-keluar {
    animation: statusKeluar 2.5s ease-in-out infinite;
}

.status-keluar input,
.status-keluar button {
    color: #ffffff !important;
    border-color: #ffffff !important;
} 

/* status keluar */
